.DS_Store
.gitignore
.classpath
.project
.settings/
**/.idea
**/**.iml
.java-version
**/target/
log.txt
sparql.anything.experiment/src/main/java/com/github/spiceh2020/sparql/anything/experiment/Test.java
